body{
	
}
.headbox{
	width:500px;
	height:350px;
		margin-top:110px;
}
#head1{
	font-size:30px;
	font-weight:bold;
	 text-shadow: 1.5px 1px;
	
}
#mini-text{
	color:rgb(192,192,192);
}
#bug-image{
	width:500px;
	height:350px;
	border-radius:15px;
	margin-left:90px;
	margin-top:90px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logos{
	height:150px;
	width:150px;
	margin:auto;
	border-radius:25px;
	
}
.card{
	margin-top:70px;
	height:200px;
	width:200px;
	border:none;
}
.card-text{
	text-align:center;
}
#line{
	
	width:90%;
	margin:auto;
	margin-top:30px;
	height:4px;
	color:gray;
}