<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BugTrackingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>signup</servlet-name>
  <servlet-class>com.add.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>signup</servlet-name>
  <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.add.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet> 
  <servlet-name>bug</servlet-name>
  <servlet-class>com.add.AddBug</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>bug</servlet-name>
  <url-pattern>/addbug</url-pattern>
  </servlet-mapping>
  <servlet> 
  <servlet-name>developer</servlet-name>
  <servlet-class>com.add.DeveloperLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>developer</servlet-name>
  <url-pattern>/developerlogin</url-pattern>
  </servlet-mapping>
  
</web-app>